# use glob syntax.
syntax: glob

# misc files
*.log

# building
out
ij-out
ant-out

# sbt
target
lib_managed
src_managed
project/boot/
project/project


# IntelliJ
*.iws
*.iml
.idea
atlassian-ide-plugin.xml

#dump rdb
*.rdb

#OSX
.DS_STORE 

#Sublime
.sublime*

#unix swap/ backups
*.swp

#dia swp
*.dia~